#monthly-kit {
  text-align: center;
  /* padding-top: 265px; */
  /* overflow-x: hidden; */
  height: 960px;
  /* max-width: 1440px;
  min-width: 1440px; */

  & h3 {
    display: flex;
      align-items: center;
      justify-content: center;
    & img {
      width: 32px;
        height: 32px;
      filter: brightness(0) saturate(100%) invert(40%) sepia(14%) saturate(2437%) hue-rotate(244deg) brightness(87%) contrast(95%) drop-shadow(0px 0px 10px rgb(149, 71, 165));


    }

    & img:nth-child(1) {
      margin-right: 16px;
    }

    & img:nth-child(2) {
      margin-left: 16px;
    }
  }

  &>p {
    font: var(--body-lg-regular);
    padding-top: 5px;
    padding-bottom: 64px;
  }

  & .book-kit-container {
    padding-top: 164px;
  }

  & .book-kit-content {
    position: relative;
    width: 54rem;
    width: auto;
      margin: 0 auto;

    & p {
      font-size: var(--body-md-regular);
    }

    & img[src*="book.png"] {
      width: 467px;
        height: 563px;
        margin: auto;
    }

    & img[src*="bookmark-yellow.png"] {
      position: absolute;
        max-width: 172px;
        object-fit: cover;
        min-height: 536px;
        rotate: 12deg;
        top: -15%;
        right: 23.9%;
        z-index: -1;
    }

    & img[src*="bookmark-purple"] {
      position: absolute;

      max-width: 172px;
        max-height: 536px;
        min-height: 536px;

        rotate: 22deg;
        right: 16.5%;
        z-index: -2;
    }

    & .hardback {
      position: absolute;
      top: -5%;
        left: 23%;
        z-index: 1;

        & .livro-capa-dura {
          position: absolute;
          left: -30%;
          top: -40px;
        }

      & img[src*="seta-livro-em-capa-dura.svg"] {
        width: 174.5px;
          height: auto;
      }
    }

    & .exclusive-brooch {

      & p {
        position: absolute;
        top: 47%;
        left: 19%;
      }

      & img[src*="seta-broche-exclusivo.svg"] {
        width: 104.55px;
        height: auto;
        z-index: 1;
        position: absolute;
        left: 20%;
        bottom: 24%;
      }

      & img[src*="pin.png"] {
        width: 222px;
          height: auto;
          position: absolute;
          rotate: -8deg;
          z-index: -1;
          bottom: -12%;
          left: 23%;
      }

    }

    .themed-bookmark {
      position: absolute;
      margin: auto;
      right: 20%;
        bottom: -17%;

      & img[src*="seta-marca-pagina.svg"] {
        width: 145.45px;
      }
    }

  }
}