#receive-monthly {
  height: 400px;
  max-width: 1200px;
  margin-inline: auto;
  position: relative;

  & h5 {
    font: var(--subtitle);
    text-align: center;

    & strong {
      font-weight: var(--fw-bold);
      color: var(--blue-light);
    }
  }

  & img {
    scale: 0;
    transition: all 500ms;

    &:hover {
      rotate: 10deg;
      height: 5.5rem;
      width: 5.5rem;
    }
  }

  & .spellbook,
  & .crystal-ball,
  & .planchette {
    position: absolute;
  }

  & .spellbook,
  .planchette {
    width: 80px;
    height: 80px;
  }

  & .planchette {}

  & .spellbook {
    position: absolute;
    top: -55px;
    right: 50%;
    /* rotate: 20.76deg; */

  }

  & .crystal-ball {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 30%;
    right: 0px;
    rotate: -15deg;

  }

  & .planchette {
    top: 28%;
    left: 40px;
    rotate: 110deg;

    &:hover {
      rotate: 120deg;
    }
  }


  &:hover {
    .planchette {
      transition: all 500ms, scale 500ms 500ms;
      scale: 1;
    }

    .crystal-ball {
      transition: all 500ms, scale 500ms 1s;
      scale: 1;
    }

    .spellbook {
      scale: 1;
      /* height: 88px;
      width: 88px; */
    }
  }
}

/* @keyframes colorTextBody {
  to {
    color: var(--color-text-body);
  }
}
@keyframes colorBlue {
  to {
    color: var(--color-blue-light);
  }
} */